APScheduler==3.8.1
Flask==2.3.2
pytz==2021.3
roman==3.3
six==1.16.0
tzlocal<3.0
urllib3==1.26.8
requests==2.31.0
pip==22.0.3
certifi==2023.7.22
chardet==4.0.0
idna==3.3
setuptools==65.5.1
zipp==3.7.0
git+https://github.com/mforkel/python-xmltv.git#egg=python_xmltv
