APScheduler==3.6.3
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
Flask==1.1.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
git+https://github.com/mforkel/python-xmltv.git#egg=python_xmltv
pytz==2020.1
requests==2.23.0
roman==3.2
six==1.15.0
tzlocal==2.1
urllib3==1.26.5
Werkzeug==1.0.1
