<html lang="en">
<head>
    <meta name="robots" content="none" />
    <title>Magio Go IPTV Server</title>
</head>
<body>
Welcome to Magio Go IPTV Server. <br>
<br>
<a href="../public/magioPlaylist.m3u8">Playlist</a><br>
<a href="../public/magioGuide.xmltv">XMLTV</a><br>
<a href="../public/magioGuide.xmltv.gz">XMLTV Gzipped</a><br>
<br>
Last guide refresh: {{ last_refresh }}
<br>
<br>
Link to Github: <a
        href="https://github.com/cvb941/magiogo-iptv-server">https://github.com/cvb941/magiogo-iptv-server</a>
</body>
</html>